################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CppAndPython/Release/CppAndPython.tlog
/CppAndPython/Release
*.suo
/CppAndPython/Debug
/CppAndPython/x64
/CppAndPython/.vs/CppAndPython/v15
*.pyc
